.home {
  padding: 30px;
}

.header {
  background-color: lightgray;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
  line-height: 50px;
}
.menus {
  display: flex;
  height: 50px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  justify-content: space-between;
}
.menu {
  width: 180px;
  cursor: pointer;
  color: white;
}
.write-area {
  width: 100%;
  padding: 20px;
}
.write-box {
  width: 60%;
  margin: 0px auto;
}
.today {
  width: 100%;
  border: 1px solid green;
}
.form-control {
  height: 30px;
  text-align: center;
}
