.home {
}

.header {
  background-color: lightgray;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
  line-height: 50px;
}
.menus {
  display: flex;
  height: 50px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 50px;
  justify-content: space-between;
}
.menu {
  width: 180px;
  cursor: pointer;
  color: white;
}
